// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


// $font-main: 'Roboto', sans-serif;


// $color-text: #000;
// $color-title: #000;
// $color-background: #999;

// colors

$tealish: #1daa9f;
$aqua-marine: #32decf;
$pinkish-grey: #c5c5c5;
$black-two: #000000;
$greyish-brown: #4a4a4a;
$white: #ffffff;

// fonts

$rubik_60 : 700 60px "Rubik";
$rubik_30 : 700 30px "Rubik";
$rubik_16 : 400 16px "Rubik";

