@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animations';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';





.header { 
    font: $rubik_16;
    text-transform: uppercase;
    height: 122px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 42px;
    display: block;
    
   

    


}

.logo {
    width: 154,5px;
    height: 60px;


}

.menu {
    
    margin-bottom: 13px;
    text-align: center;
   
   

}





.hero {
    &--background{ 
        width: 100%;
        height: 366px;

    }
    
}




